---
import { SITE_TITLE } from '../../consts';
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<a href={translatePath('')} class="logo-link" aria-label={`${SITE_TITLE} - Home`}>
	{SITE_TITLE}
</a>
